{% extends "base_front.html.twig" %}
{% block title %}
	<title>Articles</title>
{% endblock %}
{% block stylesheets %}
 <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
	<style>
		input[type="file"] {
			display: block;
			font-size:12px;
		}
		.imageThumb {
			border: 2px solid;
			padding: 1px;
			cursor: pointer;
			width: 200px;
			height: 200px !important;
		}
		.pip {
			display: inline-block;
			margin: 10px 10px 0 0;
		}
		.remove {
			display: block;
			background: #444;
			border: 1px solid black;
			color: white;
			text-align: center;
			cursor: pointer;
			padding : 5px;
			font-size : 12px;
		}
		.remove:hover {
			background: white;
			color: black;
		}
	</style>
{% endblock %}
{% block body %}

<div class="site-blocks-cover overlay" style="background-image: url({{ asset('front/images/hero_2.jpg') }});" data-aos="fade" data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row align-items-center justify-content-center text-center">

			<div class="col-md-12">
				<div class="row justify-content-center mb-4">
					<div class="col-md-8 text-center">
						<h1 class="" data-aos="fade-up">Articles publiés</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{# add article #}
<div class="site-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 text-center border-primary">
				<h2 class="font-weight-light text-primary">Ajouter un article</h2>
			</div>
		</div>
		<form action="">
			<div class="form-group">
				<label for="titre">Titre de l'article</label>
				<input type="text" placeholder="Titre de l'article" name="" id="titre" class="form-control">
			</div>
			<div class="form-group">
				<label>Inserer un ou plusieurs image</label>
				{# image #}
				<div class="field" align="left">
					<input type="file" id="files" name="files[]" multiple/>
				</div>
				{# /image #}

			</div>
			<div class="form-group">
				<label>Inserer un ou plusieurs fichiers </label>
				{# image #}
				<div class="field" align="left">
					<input type="file" id="files_files" name="files[]" multiple/>
				</div>
				{# /image #}

			</div>

			<div class="form-group">
				<label>Inserer une video</label>
				<div id="div_video_article">
					<input id="input_video_article" type="file" accept="video/*">
					<video id="video" width="300" height="300" controls></video>
				</div>
			</div>
			<div class="form-group">
				<label for="contenu">Contenu</label>
				<textarea placeholder="Contenu de l'article" name="" id="contenu" cols="30" rows="10" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<button id="add_article" class="btn btn-primary">
					Enregistrer
				</button>
			</div>
		</form>

	</div>
</div>
{# fin add artcle #}
{# articles #}
<div class="site-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-7 text-center border-primary">
				<h2 class="font-weight-light text-primary">Nos articles</h2>
				{# <p class="color-black-opacity-5">See Our Daily News &amp; Updates</p> #}
			</div>
		</div>
		<div class="row mb-3 align-items-stretch">
			<div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
				<div class="h-entry">
					<img src="{{ asset('front/images/img_1.jpg') }}" alt="Image" class="img-fluid rounded">
					<h2 class="font-size-regular">
						<a href="#" class="text-black">Many People Selling Online</a>
					</h2>
					<div class="meta mb-3">by Mark Spiker<span class="mx-1">&bullet;</span>
						Jan 18, 2019
						<span class="mx-1">&bullet;</span>
						<a href="#">Voir de details</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
				<div class="h-entry">
					<img src="{{ asset('front/images/img_1.jpg') }}" alt="Image" class="img-fluid rounded">
					<h2 class="font-size-regular">
						<a href="#" class="text-black">Many People Selling Online</a>
					</h2>
					<div class="meta mb-3">by Mark Spiker<span class="mx-1">&bullet;</span>
						Jan 18, 2019
						<span class="mx-1">&bullet;</span>
						<a href="#">Voir de details</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
				</div>
			</div>
			<div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
				<div class="h-entry">
					<img src="{{ asset('front/images/img_1.jpg') }}" alt="Image" class="img-fluid rounded">
					<h2 class="font-size-regular">
						<a href="#" class="text-black">Many People Selling Online</a>
					</h2>
					<div class="meta mb-3">by Mark Spiker<span class="mx-1">&bullet;</span>
						Jan 18, 2019
						<span class="mx-1">&bullet;</span>
						<a href="#">Voir de details</a>
					</div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
				</div>
			</div>

			<div class="col-12 text-center mt-4">
				<a href="#" class="btn btn-primary rounded py-2 px-4 text-white">Pagination no eto</a>
			</div>
		</div>
	</div>
</div>

{# article #}

	<div class="newsletter bg-primary py-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<h2>Newsletter</h2>
					<div id="test"></div>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
				<div class="col-md-6">
					<form class="d-flex">
						<input type="text" class="form-control" placeholder="Email">
						<input type="submit" value="Subscribe" class="btn btn-white">
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

	<script>
		// Replace the <textarea id="editor1"> with a CKEditor 4
		// instance, using default configuration.
		$(document).ready(function() {
            $('#contenu').summernote({
                callbacks: {
					onImageUpload: function(files) {
						for(let i=0; i < files.length; i++) {
							$.upload(files[i]);
						}
					}
				},
				height: 500,
            });

			// send the file

			$.upload = function (file) {
				let out = new FormData();
				out.append('file', file, file.name);

				$.ajax({
					method: 'POST',
					url: '{{ path("summernote_add_image") }}',
					contentType: false,
					cache: false,
					processData: false,
					data: out,
					success: function (img) {
						if(image != "error"){
							$('#contenu').summernote('insertImage', img);
						}
					},
					error: function (jqXHR, textStatus, errorThrown) {
						console.error(textStatus + " " + errorThrown);
					}
				});
			};

        });
		
		// video traitement

		const input = document.getElementById('input_video_article');
		const video = document.getElementById('video');
		const videoSource = document.createElement('source');

		input.addEventListener('change', function() {
			const files = this.files || [];

			if (!files.length) return;
			
			const reader = new FileReader();

			reader.onload = function (e) {
				videoSource.setAttribute('src', e.target.result);
				video.appendChild(videoSource);
				video.load();
				video.play();
			};
	
			reader.onprogress = function (e) {
				console.log('progress: ', Math.round((e.loaded * 100) / e.total));
			};
			
			reader.readAsDataURL(files[0]);
		});

		$(document).ready(function() {
			if (window.File && window.FileList && window.FileReader) {
				$("#files").on("change", function(e) {
				var files = e.target.files,
					filesLength = files.length;
				for (var i = 0; i < filesLength; i++) {
					var f = files[i]
					var fileReader = new FileReader();
					fileReader.onload = (function(e) {
					var file = e.target;
					$("<span class=\"pip\">" +
						"<img class=\"imageThumb\" src=\"" + e.target.result + "\" title=\"" + file.name + "\"/>" +
						"<br/><span class=\"remove\">Effacer</span>" +
						"</span>").insertAfter("#files");
					$(".remove").click(function(){
						$(this).parent(".pip").remove();
					});
					
					// Old code here
					/*$("<img></img>", {
						class: "imageThumb",
						src: e.target.result,
						title: file.name + " | Click to remove"
					}).insertAfter("#files").click(function(){$(this).remove();});*/
					
					});
					fileReader.readAsDataURL(f);
				}
				console.log(files);
				});
			} else {
				alert("Your browser doesn't support to File API")
			}
			});

	</script>

{% endblock %}